*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

/* Dashboard Page */
.container {
  margin: 2% auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}
.people-list {
  width: 260px;
  height: 949px;
  float: left;
}
.people-list ul {
  padding: 0 20px 20px 20px; 
  max-height: 100%;
  overflow: auto;
}
.people-list ul li {
  margin: 5px 0;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
.people-list ul li:hover {
  background-color: grey;
  cursor: pointer;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
  width: 130px;
}
.people-list .status {
  color: #92959E;
}
.people-list .new-message {
  display: flex;
  align-items: center;
}
.chat {
  width: 490px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: auto;
  height: 638px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 93%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 7%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}
.people-list li img, .chat-header img {
  width: 60px;
  height: 60px;
}
.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*  Login Page */
.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #86BB71;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #89c771;
}
.form .message, .user-create .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #86BB71;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

/* ****** Edits ****** */
ul {
  list-style: none;
}
.chat-history ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.loginBtn {
  width: 80%;
}
.form {
  background-color: #F2F5F8;
}
.form input {
    background-color: white;
}
.form-line {
  position: absolute; 
  left: 0px;
  width: 360px; 
  margin-top: 2px; 
  border-bottom: 2px solid white;
}
.social-buttons div span {
  font-weight: bold;
}
.chat-message button, .user-create button {
  float: right;
  text-transform: uppercase;
  outline: 0;
  background: #86BB71;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover, button:active, button:focus {
  background: #89c771;
}
a.users-btn:hover, a.users-btn:active, a.users-btn:focus {
  background: #89c771;
}
a.logout-btn{
  background-color: rgb(226, 98, 92);
}
a.logout-btn:hover, a.logout-btn:active, a.logout-btn:focus {
  background-color: rgb(245, 106, 99);
}
.message.error {
  color: red;
}
.message.success {
  color: #86BB71;
}
.container {
  overflow: hidden;
}
.not-found-error {
  padding: 5%;
  background-color: white;
}
.chat .chat-history .my-message {
  text-align: initial;
}
.disconnect {
  display: block;
  float: right;
  font-size: 32px;
  color: #444753;
  text-decoration: none;
}